@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,400;1,300&family=Comfortaa:wght@600&family=Hubballi&family=PT+Sans&family=Poppins:ital@1&family=Roboto:ital,wght@0,300;0,400;1,500&family=Source+Sans+Pro:wght@600;700&display=swap');

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: rgb(28, 27, 31); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border:2px solid #eb8b50;
  }

*{
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

body{
    background-image: linear-gradient(to right,rgba(28, 27, 31,0.7),rgba(28, 27, 31,0.7)), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height:100%;
    font-family: 'PT Sans', sans-serif;
}

nav { 
    background-color: rgba(0,0,0, 1); 
    height: 80px; 
    width: 100%; 
    position: fixed;
    z-index: 999;
    margin-top: -80px;
}
    label.logo{ 
    	position: absolute;
        color: white; 
        font-size: 35px; 
        line-height: 80px; 
        left:50px; 
        font-weight: bold; 
        cursor: pointer;
    }
    
    nav ul{ 
        float: right; 
        font-weight: 600; 
    }

    nav ul li{ 
        display: inline-block; 
        line-height:80px;
        margin: 0 5px; 
    }
    
    nav ul li a{
	    color: white;
	    font-size: 17px;
	    padding: 7px 13px;
	    border-radius: 3px;
        text-decoration: none;
        transition: 0.4s ease-in-out;
    }

    nav ul li a:hover{
        color:#f56105;
    }

    .logo-icon{
        height:60px;
        width:60px;
        padding-top:10px;
    }

    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none; 
    }
        #check{
           display: none; 
        }   


@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        left: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block; 
    }
    ul{
        position: fixed;
        width: 110%;
        height: 100vh;
        top: 80px;
        right: -110%;
        top: 80px;
        margin-right: -20px;
        transition: all .5s;
        text-align: center;
        background-color: rgba(0,0,0, 1);
    }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }

        nav ul li a{
            font-size: 20px;
        }


        #check:checked ~ ul{
            right: 0;
        }
}

.main{
    margin:80px;
    padding-top: 90px;
    display:flex;
    flex-wrap: wrap;
}

.main-img-div{
    width:40%;
}

.main-img{
    width:80%;
    border-radius: 15px;
    border:4px solid #f56105;
    transition: 0.5s ease-in-out;
}

.main-img:hover{
    transform: rotateY(180deg);
}

.main-text{
    width:55%;
    margin-top:30px;
}

.main-text-h{
    width:80%;
    color:#fff;
    font-size:50px;
}

.main-text-name{
    font-style: italic;
    font-size:60px;
    color:#f56105;
}

.main-text-p{
    margin-top:60px;
    color:#fff;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px;
}

.main-text-a{
    text-decoration: none;
    color:#f56105;
    font-family: 'PT Sans', sans-serif;
    padding:10px;
    border:3px solid #f56105;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.main-text-a:hover{
    background-color: #f56105;
    color:#fff;
}

@media only screen and (max-width: 1300px){
    .main-text{
        margin-top: 0;
    }
    .main-text-h{
        font-size:40px;
    }
    .main-text-name{
        font-size:50px;
    }
    .main-text-p{
        margin-top: 40px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1200px){
    .main{
        display:block;
    }
    .main-img-div{
        width:100%;
        display:flex;
        justify-content: center;
    }
    .main-img{
        width:45%;
    }
    .main-text{
        width:100%;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 850px){
    .main-img{
        width:55%;
    }
}

@media only screen and (max-width: 800px){
    .main-img{
        width:70%;
    }
}

@media only screen and (max-width: 650px){
    .main-text-h{
        font-size:30px;
    }
    .main-text-name{
        font-size:40px;
    }
    .main-text-p{
        margin-top: 30px;
        font-size: 16px;
    }
    .main-text-a{
        padding:7px;
    }
}

@media only screen and (max-width: 600px){
    .main-img{
        width:70%;
    }
    .main{
        margin-top:80px;
        margin-left:30px;
        margin-right:30px;
    }
}

@media only screen and (max-width: 480px){
    .main-img{
        width:80%;
    }
}

.about{
    margin:80px;
    margin-top:0;
    padding-top:100px;
}

.about-h{
    font-size:60px;
    color:#f56105;
}

.who-am-i,
.skills,
.qualifications{
    margin-top:60px;
    margin-left:50px;
}

.who-am-i-h,
.skills-h,
.quali-h{
    font-size:40px;
    color:#f56105;
    margin-bottom:20px;
}

.who-am-i-p{
    font-size:18px;
    color:#fff;
    line-height:200%;
    text-align:justify;
}

.skills{
    margin-top:100px;
}

.one-skill-div{
    width:100%;
    background:grey;
}

.skills-h{
    margin-bottom:40px;
}

.skill{
    padding:3px;
    color:#fff;
    text-align:right;
    background:#f56105;
    margin-bottom:20px;
}

.skill-name{
    color:#fff;
    font-size:18px;
    margin-bottom:5px;
}

.js,
.java,
.py{
    width:90%;
}

.html,
.php{
    width:85%;
}

.express{
    width:80%;
}

.react{
    width:75%;
}

.quali-h{
    margin-top:100px;
    margin-bottom:50px;
}

.all-certificates{
    display:flex;
    flex-wrap:wrap;
}

.certificate{
    width:50%;
}

.certificate-h,
.achieve-h{
    font-size:20px;
    color:#fff;
    margin-bottom:15px;
    font-weight: 500;
}

.fa-medal,
.fa-trophy{
    color:#f56105;
}

.all-archievements{
    margin-top:30px;
    display:flex;
    flex-wrap:wrap;
}

.achieve{
    width:50%;
}

@media only screen and (max-width: 980px){
    .who-am-i,
    .skills,
    .qualifications{
        margin-left:20px;
    }
}

@media only screen and (max-width: 875px){
    .all-archievements,
    .all-certificates{
        display:block;
    }

    .achieve,
    .certificate{
        width:100%;
    }

    .all-archievements{
        margin-top:60px;
    }    
}

@media only screen and (max-width: 650px){
    .who-am-i-h,
    .skills-h,
    .quali-h,
    .inner-project-h{
        font-size:30px;
    }   
    .about-h,
    .projects-h{
        font-size:50px;
    }
    .who-am-i-p,
    .skill-name,
    .inner-project-p{
        font-size:15px;
    }
    .skill{
        padding:2px;
    }
    .certificate-h,
    .achieve-h{
        font-size:16px;
    }
    .all-archievements{
        margin-top:25px;
    }
}

@media only screen and (max-width: 600px){
    .about{
        margin:30px;
        margin-top:170px;
    }
}

@media only screen and (max-width: 460px){
    .who-am-i,
    .skills,
    .qualifications{
        margin-left:10px;
    }
}

.about-cards{
    display:flex;
    flex-wrap: wrap;
    margin-left:50px;
}

.about-card{
    margin:20px;
    margin-top:60px;
    margin-left:0;
    width:40%;
    padding: 30px;
    border:2px solid #e19668;
    height:120px;
    color:#fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.about-card:hover{
    border:2px solid #f56105;
}

.card-special{
    color:#f56105;
    font-size: 100px;
}

@media only screen and (max-width: 1125px){
    .card-special{
        font-size:80px;
    }
    .about-card{
        font-size:15px;
        margin-right:5px;
        padding-right:25px;
    }
}

@media only screen and (max-width: 1075px){
    .about-cards{
        display:block;
    }
    .about-card{
        width:60%;
        display:flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 830px){
    .about-card{
        width:80%;
    }
}

@media only screen and (max-width: 700px){
    .about-cards{
        margin-left:0;
    }
    .about-card{
        width:80%;
        padding:20px;
        font-size:12px;
        height:100px;
    }
    .card-special{
        font-size:70px;
    }
}

@media only screen and (max-width: 550px){
    .about-card{
        width:70%;
        padding:20px;
        font-size:10px;
        height:80px;
    }
    .card-special{
        font-size:60px;
    }
}

@media only screen and (max-width: 400px){
    .about-card{
        width:80%;
        padding:20px;
        font-size:10px;
        height:60px;
    }
    .card-special{
        font-size:50px;
    }
}

.projects{
    margin:80px;
    margin-top:0;
    padding-top:100px;
}

.all-projects{
    display:flex;
    flex-wrap:wrap;
}

.projects-h,
.contact-h{
    font-size:60px;
    color:#f56105;
}

.project{
    margin-top:40px;
    padding:30px;
    background:rgb(28, 27, 31);
    width:43%;
    border:3px solid #f56105;
    border-radius: 10px;
    margin:10px;
}

.inner-project-img{
    width:100%;
}

.inner-project-h{
    color:#f56105;
    font-size:35px;
    margin-top:10px;
}

.inner-project-p{
    color:#fff;
    margin-top:10px;
    line-height:150%;
    font-family: 'PT Sans', sans-serif;
}

.inner-project-links{
    margin-top:50px;
}

.inner-project-link{
    text-decoration:none;
    color:#fff;
    border:2px solid #e19668;
    padding:10px;
    margin-right:10px;
    transition: 0.4s ease-in-out;
    font-weight:700;
}

.inner-project-link:hover{
    border:2px solid #f56105;
}

.fa-code,
.fa-eye{
    color:#f56105;
    margin-right:5px;
}

.up-margin{
    margin-top:70px;
}

.bit-up-margin{
    margin-top:30px;
}

@media only screen and (max-width: 1400px){
    .all-projects{
        display:block;
    }
    .project{
        margin-left:auto;
        margin-right:auto;
        width:60%;
    }
    .bit-up-margin{
        margin-top:70px;
    }
}

@media only screen and (max-width: 1000px){
    .project{
        width:80%;
    }
}

@media only screen and (max-width: 750px){
    .project{
        width:90%;
    }
}

@media only screen and (max-width: 600px){
    .projects{
        margin-left:30px;
    }
}

@media only screen and (max-width: 550px){
    .project{
        width:98%;
    }
}

@media only screen and (max-width: 650px){
    .inner-project-h{
        font-size:30px;
    }   
    .projects-h{
        font-size:50px;
    }
    .inner-project-p{
        font-size:15px;
    }
}

.contact{
    margin:80px;
    margin-top:0;
    padding-top:100px;
}

.inner-contact{
    display:flex;
    flex-wrap:wrap;
    padding:30px;
    background:rgb(28, 27, 31);
    border: 3px solid #f56105;
    border-radius: 10px;
}

.my-contact{
    width:54%;
}

.links{
    color:#fff;
    font-size:25px;
    margin-bottom:40px;
    margin-left:50px;
}

.links-a{
    color:#fff;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.links-a:hover{
    color:#f56105;
}

.fa-phone,
.fa-whatsapp,
.fa-at,
.fa-instagram,
.fa-github{
    color:#f56105;
}

.location{
    width:44%;
}

.contact-h{
    margin-bottom: 30px;
}

.iframe{
    width:100%;
    height:400px;
}

@media only screen and (max-width: 1200px){
    .inner-contact{
        flex-direction: column;
    }
    .location{
        margin-left: auto;
        margin-right:auto;
        width:70%;
        order:1;
    }
    .my-contact{
        margin-top:40px;
        text-align: left;
        width:100%;
        order:2;
    }
}

@media only screen and (max-width: 750px){
    .location{
        width:90%;
    }
    .links{
        margin-left:30px;
    }
}

@media only screen and (max-width: 650px){
    .contact-h{
        font-size:50px;
    }
    .links{
        font-size:20px;
    }
}

@media only screen and (max-width: 600px){
    .location{
        width:98%;
    }
    .links{
        margin-left:10px;
    }
    .contact{
        margin-left: 30px;
    }
    .inner-contact{
        width:100%;
    }
}

footer{
    margin-top:170px;
}

.inner-footer{
    padding:20px;
    background-color: rgb(0,0,0);
}

.inner-footer-p{
    color:#fff;
    text-align:center;
    font-size:17px;
    font-weight: 600;
}

.footer-special{
    color:#e19668;
}

@media only screen and (max-width: 600px){
    .inner-footer-p{
        font-size: 15px;
    }
}